body {
	padding: 0;
	background-color: #FAFAFA;
	color: #222;
	font-family: Georgia;
	margin: 30px 40px 30px 40px;
}

h1 a, h1 a:hover, h1 a:visited {
	color: #222;
	text-decoration: none;
}

pre {
	margin-left: 14px;
}

h1 {
	text-align: right;
	font-size: 18pt;
}

p {
	text-align: justify;
}

.thumbs {
	list-style: none;
}

.thumbs li {
	display: inline-block;
	margin: 17px;
	position: relative;
}

.thumbs .button {
	background-color: #CCCCCC;
}

.thumbs a.block {
	outline: none;
	text-decoration: none;
	border: 1px #ddd solid;
	color: #333;
}

.thumbs .block,
.thumbs .block img {
	display: inline-block;
	border-radius: 7px;
}

.thumbs .block span {
	position: absolute;
	display: inline-block;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: rgb(221, 221, 221);
	text-align: center;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	display: none;
}

.thumbs .block:hover span {
	display: inline;
}
