body {
	margin: 0;
	background-color: #FCFCFC;
}

header {
	padding: 10px;
	height: 80px;
	background-color: #252525;
	margin: 0;
}

header > div {
	max-width: 899px;
	margin: 0 auto;
}

header h1 {
	float: left;
}

header ul {
	float: right;
	margin: 0 30px 0 0;
	padding: 0px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-weight: bold;
}


header li {
	display: inline-block;
	margin: 0 7px;
}

header a[target="_blank"]::after {
	content: url(/images/external-link.svg);
	color: white;
	display: inline-block;
	margin-left: 0.25em;
	width: 1em;
	height: 1em;
}

header a, header a:hover, header a:visited {
	color: #FCFCFC;
	text-decoration: none;
}

.content {
	padding: 0;
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	max-width: 899px;
	margin: 30px auto;
	line-height: 1.8em;
}

.clear {
	clear: both;
}

@media (max-width: 979px) {
	header {
		text-align:	center;
		height: auto;
	}

	header h1 {
		float: none;
	}

	header ul {
		float: none;
		height: auto;
	}

	header ul, header li {
		line-height: 0;
	}

	.content {
		margin-left: 40px;
		margin-right: 40px;
	}
}

header, h2 {
	font-family: "Lucida Console", Monaco, monospace;
}

pre {
	margin-left: 14px;
}

p {
	text-align: justify;
}

.tips {
	list-style: none;
}

.tips li {
	margin: 4px;
	display: inline-block;
	width: 48%;
	vertical-align: top;
}

@media (max-width: 979px) {
	.tips li {
		margin: 4px 0;
		width: auto;
		display: block;
	}
}

.tips li:first-child {
	margin-top: 4px;
}

.tips li:last-child {
	margin-bottom: 7px;
}

.tips li a {
	border: 1px rgb(221, 221, 221) solid;
	border-radius: 5px;
	padding: 5px;
	color: #222;
	text-decoration: none;
	display: block;
}

.tips li a:hover {
	background-color: rgb(221, 221, 221);
}

.links {
	list-style: none;
	text-align: center;
}

@media (max-width: 715px) {
	.links {
		text-align: left;
	}
}

.links li {
	display: inline-block;
	margin: 17px;
	position: relative;
}

@media (max-width: 331px) {
	.links li {
		margin: 10px;
	}
}

@media (max-width: 303px) {
	.links li {
		margin: 3px 0;
	}
}

@media (max-width: 275px) {
	.links {
		text-align: center;
	}

	.links li, .links li a {
		width: 100%;
		min-width: 80px;
	}

	.links li a.block {
		padding: 4px 0;
	}
}

.links .button {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#CCCCCC));
	background-image: -o-linear-gradient(top,  #F5F5F5,  #CCCCCC);
	background-image: -moz-linear-gradient(top,  #F5F5F5,  #CCCCCC);
	background-image: linear-gradient(top,  #F5F5F5,  #CCCCCC);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#CCCCCC');
	background-color: #CCCCCC;
}

.links a.block {
	outline: none;
	text-decoration: none;
	border: 1px #ddd solid;
	color: #333;
	padding: 4px;
}

.links .block,
.links .block img {
	display: inline-block;
	border-radius: 7px;
}

.projects {
	list-style: none;
}

.projects > li {
	border-radius: 7px;
	border: 1px #ddd solid;
	margin-bottom: 14px;
}

@media (max-width: 549px) {
	.projects > li {
		margin: 14px;
		position: relative;
		display: inline-block;
		width: 150px;
		height: 150px;
	}

	.projects > li img {
		border-radius: 7px;
		position: absolute;
		left: 0;
		top: 0;
	}

	.projects > li h3 {
		position: absolute;
		left: 0;
		bottom: 0;
		text-align: center;
		background-color: #ddd;
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		width: 100%;
	}

	.projects > li section .info {
		display: none;
	}
}

@media (max-width: 443px) {
	.projects {
		text-align: center;
	}
}

@media (min-width: 550px) {
	.projects > li img {
		float: left;
		border-top-left-radius: 7px;
		border-bottom-left-radius: 7px;
	}

	.projects section {
		margin-left: 150px;
		padding: 7px;
	}
}

.projects section h3 {
	margin: 0;
}

.projects section a {
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: bold;
	font-size: 18px;
	color: #555;
}

.projects section ul {
	list-style: none;
}

code {
	background-color: #ddd;
	padding: 2px 4px;
	font-family: monospace;
}

pre {
	background-color: #ddd;
	margin: 0;
	padding: 7px;
}

pre code {
	padding: 0px;
}

#contact form {
	max-width: 600px;
	margin: auto;
}

#contact form label {
	margin-bottom: 7px;
}

#contact form label, #contact form input[type="email"], #contact form textarea {
	display: block;
	width: 100%;
}

#contact form input[type="submit"] {
	display: block;
	margin: 0 auto;
}

#contact form label, #contact form input[type="submit"] {
	margin-top: 14px;
}
